trame
trame-client >= 3.5.2
trame-vuetify
trame-vtk
trame-vtklocal # VTK Local rendering using WASM
trame-rca >= 1.1.0 # VTK remote rendering
itk
pytest
pytest-asyncio<0.24
pre-commit
black
codespell
lxml
pydicom
webcolors
pillow
pillow-avif-plugin
